* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: sans-serif;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.p-2 {
  padding: 1rem 2rem;
}

.btn {
  background: blueviolet;
  border: none;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
}

.modal {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.9);
  backdrop-filter: blur(4px);
  top: 0;
  left: 0;
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal > div {
  width: 300px;
  height: auto;
  background: white;
  color: black;
}

.modal > button {
  position: absolute;
  top: 4rem;
  right: 4rem;
}

.form {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
}
